* {
box-sizing: border-box;
}

html, body {
margin: 0;
padding: 0;
height: 100%;
}

body {
display: flex;
}
/*=== fonts ===*/
.body-text, .game-board, h1{
font-family: 'Lemonada';
font-size: 1.5rem;
text-transform: uppercase;
}

/*=== left side ===*/
.left-side-section {
width: 25%;
padding-top: 20px;
display: flex;
justify-content: center;
background: midnightblue;
background-repeat: no-repeat;
height: min-content;
background-size: cover;
background-position-x: -940px;
}
}

.player1-token {
color: #BF2211;
height: 15%;
font-size: 1.5rem;
}

.player1-token {
  color: #BF2211;
  height: 15%;
  font-size: 1.5rem;
}

/*=== right side ===*/
.right-side-section {
width: 25%;
padding-top: 20px;
display: flex;
justify-content: center;
background: cadetblue;
background-repeat: no-repeat;
height: min-content;
background-size: cover;
background-position-x: -180px;
}

.player2-token {
color: #BF2211;
height: 15%;
font-size: 1.5rem;
}

.player2-token {
  color: #BF2211;
  height: 15%;
  font-size: 1.5rem;
}
/*=== main section ===*/
.main-section {
width: 55%;
display: flex;
flex-direction: column;
background: white;
background-repeat: no-repeat;
background-position: bottom;
background-size: contain;
}

.game-board {
display: grid;
justify-content: center;
grid-template-columns: 1fr 1fr 1fr;
height: 40%;
margin: 55px;
}

.display-turn {
display: flex;
justify-content: center;
padding-left: 25px;
padding-right: 25px;
margin-bottom: 10px;
color: #BF2211;
background-color: #ECA21E;
width: 100%;
}

[data-num="0"] {
display: flex;
align-items: center;
justify-content: center;
border: 2px solid;
border-top: none;
border-left: none;
}

[data-num="1"] {
display: flex;
align-items: center;
justify-content: center;
border: 2px solid;
border-top: none;
}

[data-num="2"] {
display: flex;
align-items: center;
justify-content: center;
border: 2px solid;
border-top: none;
border-right: none;
}

[data-num="3"] {
display: flex;
align-items: center;
justify-content: center;
border: 2px solid;
border-left: none;
}

[data-num="4"] {
display: flex;
align-items: center;
justify-content: center;
border: 2px solid;
}

[data-num="5"] {
display: flex;
align-items: center;
justify-content: center;
border: 2px solid;
border-right: none;
}

[data-num="6"] {
display: flex;
align-items: center;
justify-content: center;
border: 2px solid;
border-left: none;
border-bottom: none;
}

[data-num="7"] {
display: flex;
align-items: center;
justify-content: center;
border: 2px solid;
border-bottom: none;
}

[data-num="8"] {
display: flex;
align-items: center;
justify-content: center;
border: 2px solid;
border-bottom: none;
border-right: none;
}

[data-num="0"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-top: none;
  border-left: none;
}

[data-num="1"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-top: none;
}

[data-num="2"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-top: none;
  border-right: none;
}

[data-num="3"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-left: none;
}

[data-num="4"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
}

[data-num="5"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-right: none;
}

[data-num="6"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-left: none;
  border-bottom: none;
}

[data-num="7"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-bottom: none;
}

[data-num="8"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-bottom: none;
  border-right: none;
}
